<div class="container">
    <div class="row">
        <div class="container text-center">
            <H1>Feeders</H1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!--Sidebar content-->
            <ul>
                <li>One Piece</li>
                <li>Naruto Shippuuden</li>
                <li>Fairy Tail S2</li>
            </ul>
        </div>

        <div class="col-md-8">
            <!--Body content-->

            <feed summary="true" url="http://www.nyaa.se/?page=rss&term=[PuyaSubs!]+One+Piece" count="5" />
            <feed summary="true" url="http://www.nyaa.se/?page=rss&term=%5BPuyaSubs%21%5D+Naruto+Shippuuden" count="5" />
            <feed summary="true" url="http://www.nyaa.se/?page=rss&term=%5BPuyaSubs%21%5D+Fairy+Tail+S2+-" count="5" />

            <!--<feed summary="true" url="http://www.nyaa.se/?page=rss&term=[PuyaSubs!]+One+Piece" count="5" post-render="feedPostRender" />-->
            <!--<feed summary="true" url="http://www.nyaa.se/?page=rss&term=%5BPuyaSubs%21%5D+Naruto+Shippuuden" count="5" post-render="feedPostRender" />-->
            <!--<feed summary="true" url="http://www.nyaa.se/?page=rss&term=%5BPuyaSubs%21%5D+Fairy+Tail+S2+-" count="5" post-render="feedPostRender" />-->

        </div>
    </div>
</div>
