<div class="cover-image" style="background-image: url(https://unsplash.imgix.net/photo-1418065460487-3e41a6c84dc5?q=25&amp;fm=jpg&amp;s=127f3a3ccf4356b7f79594e05f6c840e);"></div>
<div class="container" ng-controller="ScrollController">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-inverse">Welcome</h1>
            <p class="text-inverse">Fibanez's projects</p>
            <br>
            <br>
            <!--<a class="btn btn-lg btn-primary" ata-toggle="modal" du-smooth-scroll ng-click="gotoElement('view')">Click me</a>-->
            <a class="btn btn-lg btn-primary" data-toggle="modal" du-smooth-scroll duration="900" href="#view">Click me</a>
        </div>
    </div>
</div>
