<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">
                        <i class="icon-document-alt-stroke"></i>
                        <span>Documentation</span>
                    </li>
                    <li><a href="/getting-started" class="active">Getting Started</a></li>
                    <li><a href="/configuring-tasks" class="false">Configuring Tasks</a></li>
                    <li><a href="/sample-gruntfile" class="false">Sample Gruntfile</a></li>
                    <li><a href="/creating-tasks" class="false">Creating Tasks</a></li>
                    <li><a href="/creating-plugins" class="false">Creating Plugins</a></li>
                    <li><a href="/using-the-cli" class="false">Using the CLI</a></li>
                </ul>
                <ul class="nav nav-list">
                    <li class="nav-header">
                        <span>Advanced</span></li><li>
                        <a href="/api" class="false">API</a>
                    </li>
                    <li><a href="/installing-grunt" class="false">Installing Grunt</a></li>
                    <li><a href="/frequently-asked-questions" class="false">Frequently Asked Questions</a></li>
                    <li><a href="/project-scaffolding" class="false">Project Scaffolding</a></li>
                </ul>
                <ul class="nav nav-list">
                    <li class="nav-header"><span>Community</span></li>
                    <li><a href="/help-resources" class="false">Help Resources</a></li>
                    <li><a href="/who-uses-grunt" class="false">Who uses Grunt</a></li>
                    <li><a href="/built-with-grunt-badge" class="false">Built with Grunt Badge</a></li>
                    <li><a href="/contributing" class="false">Contributing</a></li>
                    <li><a href="/development-team" class="false">Development Team</a></li>
                </ul>
                <ul class="nav nav-list">
                    <li class="nav-header"><span>Migration guides</span></li>
                    <li><a href="/upgrading-from-0.3-to-0.4" class="false">Upgrading from 0.3 to 0.4</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                <br>Ut enim ad minim veniam, quis nostrud</p>
        </div>
    </div>
</div>
